@model IEnumerable<IntegracaoOrganismo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar Nova Intergração</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Diretório Organismo
                </th>
                <th>
                    Tipo de integração
                </th>
                <th>
                   Diretório Local
                </th>
                <th>
                   URL Organismo
                </th>
                <th>
                   Porta
                </th>
                <th>
                    Usuário
                </th>
                <th>
                   Senha
                </th>
                <th>
                   Private Key
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiretorioInspecao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIntegracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiretorioInspecaoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostURI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.Raw("\u2022\u2022\u2022\u2022\u2022\u2022\u2022\u2022\u2022\u2022")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
