@model IEnumerable<INMETRO.REGOIAS.WEB.Models.IntegracaoOrganismo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DiretorioInspecao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoIntegracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiretorioInspecaoLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HostURI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Porta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Senha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrivateKey)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiretorioInspecao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIntegracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiretorioInspecaoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostURI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
