@model IEnumerable<Organismo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar Novo Organismo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    ORGANISMO
                </th>
                <th>
                   CÓDIGO-OIA
                </th>
                <th>
                    ATIVO
                </th>
            <th>
               AÇÕES
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoOIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EhAtivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
